* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 30px auto;
  max-width: 70%;
  color: #2a3a75;
}

header {
  text-align: center;
}

h1 {
  margin: 30px auto 10px;
  letter-spacing: 5px;
  word-spacing: 5px;
}

p {
  font-family: "Roboto", sans-serif;
}

form {
  margin-top: 20px;
  text-align: center;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

h3 {
  font-size: 20px;
  display: block;
  text-align: center;
}

.weather-container {
  border: 1px solid white;
  border-radius: 10px;
  background: #bdd4ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ffffff,
    #bdd4ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ffffff,
    #dbe8ff,
    #bdd4ff,
    #98bcff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 0px 20px;
}
#current-description {
  text-transform: capitalize;
  margin-bottom: 2px;
  font-size: 18px;
}

#current-degree {
  font-size: 50px;
  padding-left: 10px;
  padding-top: 15px;
}

.unit:focus {
  text-decoration: none;
  color: black;
}

.hover {
  position: relative;
  top: -28px;
  font-size: 14px;
}

.hover:hover {
  opacity: 0.7;
}
.current-temp {
  margin: 0 auto;
  text-align: center;
}

.description {
  text-align: center;
  padding-left: 50px;
  padding-top: 20px;
  line-height: 1.7;
  font-size: 15px;
}

.input-group {
  width: 70%;
}

.btn {
  transition: all 50ms ease-in-out;
}
#current-location-button {
  display: block;
  margin: 30px auto;
}

#search-submit-button {
  border-radius: 4px;
  padding: 0 20px;
}
.credit {
  margin: 10px 10px;
}

.future-temp {
  display: flex;
  margin: 0px auto 20px;
  text-align: center;
}

.forecast-day {
  margin-top: 30px;
}
