* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 80px auto;
  max-width: 60%;
  color: #64647d;
}

header {
  text-align: center;
}

h1 {
  margin: 20px auto 0px;
  letter-spacing: 3px;
  word-spacing: 5px;
}

p {
  font-family: "Roboto", sans-serif;
}

form {
  margin-top: 20px;
  text-align: center;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.weather-container {
  border: 1px solid grey;
  border-radius: 10px;
  background-color: #ec874c4d;
  padding: 0px 20px;
}

#current-description {
  text-transform: capitalize;
  margin-bottom: 3px;
  font-size: 15px;
}

#current-degree {
  font-size: 50px;
  padding-left: 10px;
}

.unit:focus {
  text-decoration: none;
  color: black;
}

.hover {
  position: relative;
  top: -28px;
  font-size: 14px;
}

.hover:hover {
  opacity: 0.7;
}
.current-temp {
  margin: 0 auto;
  text-align: center;
}

.description {
  text-align: left;
  padding-left: 50px;
  padding-top: 5px;
  line-height: 1.5;
  font-size: 13px;
}

.input-group {
  width: 70%;
}

.btn {
  transition: all 50ms ease-in-out;
}
#current-location-button {
  display: block;
  margin: 30px auto;
}

#search-submit-button {
  border-radius: 4px;
  padding: 0 20px;
}
.credit {
  margin: 10px 10px;
}

.future-temp{
  display: flex;
  margin: 0px auto 20px;
  text-align: center;
  
}



/*
.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: rgb(186, 186, 186);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
